.fa.fa-margin
  margin-right 10px

.reveal section img
  max-height 600px

.reveal
  h1, h2, h3
    &.sub
      color #ddd
      img
        opacity 0.5
    img
      border none
      max-height 100px
      vertical-align middle
      margin-right 10px
