doctype html
html
  head
    meta(charset="utf-8")
    title Elixir 1.3
    link(rel="stylesheet" href="components/reveal.js/css/reveal.css")
    link(rel="stylesheet" href="components/reveal.js/css/theme/serif.css")
    link(rel="stylesheet" href="components/reveal.js/lib/css/zenburn.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
    .reveal
      .slides
        include ./slides.jade
  
 
    script(src="components/headjs/dist/1.0.0/head.min.js")
    script(src="components/reveal.js/js/reveal.js")
    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        dependencies: [
          { src: 'components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'components/reveal.js/plugin/zoom-js/zoom.js', async: true },
          { src: 'components/reveal.js/plugin/notes/notes.js', async: true }
        ]
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40262798-2', 'auto');
      ga('send', 'pageview');
